@using LeafStore.Models
@model List<CartItem>
@{
    ViewBag.Title = "GetCartInfo";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div style="margin: 10px auto; width: 90%;">
 <h2 style="text-align: center">THÔNG TIN GIỎ HÀNG</h2>
 <hr />
 <table class="table table-bordered">
 <thead>
    <tr>
         <th>MÃ SẢN PHẨM</th>
         <th>TÊN</th>
         <th>ẢNH</th>
         <th>SỐ LƯỢNG</th>
         <th>ĐƠN GIÁ</th>
         <th>THÀNH TIỀN</th>
         <th>CHI TIẾT</th>
         <th>CẬP NHẬT</th>
         <th>XÓA</th>
    </tr>
 </thead>
 <tbody>
     @foreach (var product in Model)
     {
         <tr>
             <td>@product.ProductID</td>
             <td>@product.NamePro</td>
             <td><img style="max-height:200px" src="~/Image/@product.ImagePro" /></td>
             @using (Html.BeginForm("UpdateCartItem", "Cart", new { id = product.ProductID }))
             {
                 <td><input type="number" min="1" value="@product.Number" name="Number" /></td>
                 <td>@String.Format("{0:c0}", product.Price)</td>
                 <td>@String.Format("{0:c0}", product.FinalPrice())</td>
                 <td>@Html.ActionLink("Chi tiết", "Details", "Home", new { id = product.ProductID }, new { @class = "btn btn-success" })</td>
                 <td><button type="submit" class="btn btn-primary">Cập nhật</button></td>
             }
             <td>@Html.ActionLink("Xóa", "DeleteCartItem", "Cart", new { id = product.ProductID }, new { @class = "btn btn-danger" })</td>
         </tr>

     }
     <tr style="font-weight:bold; text-align:right; color:red;">
         <td colspan="4">Tổng số lượng: @ViewBag.TotalNumber</td>
         <td colspan="5">Tổng tiền: @String.Format("{0:c0}", ViewBag.TotalPrice) </td>
     </tr>
     <tr style="font-weight:bold; text-align:center;">
         <td colspan="9">
             @Html.ActionLink("Xác nhận", "ConfirmCart", null, new{@class ="btn btn-primary"})
         </td>
     </tr>
 </tbody>
 </table>
</div>

